[2015-07-08 23:17] farhanwazir opened #1 "routes not working"
I used zyhn tutorial, it was working fine but in your package same code, my module routes.php is included but Route::get not working.. any hint?

[2015-07-08 23:25] farhanwazir commented on #1
Modification in description:
Routes::get loaded but second parameter not working. Below is code:
Route::get('people', function(){
    return 'hello';
});

[2015-07-09 01:03] farhanwazir commented on #1
Resolved: Problem was Authentication Controller, I was defined Route:controllers and leave blank for alias auth to resolve url with auth/login.

[2015-07-09 07:14] Artem-Schander commented on #1
I would recommend to remove all unnecessary controllers (f.a. which are not in your modules)

[2015-07-09 07:17] farhanwazir commented on #1
Not a single controller is unnecessary, Issue found and fixed.

[2015-08-11 09:27] NileshBadgi-Idealtechnologys opened #3 "model not working"
I write on model and contlloer it is now wokring

			$filght = Blogs::all();
		print_r($filght);
"Model"

<?php namespace App\Modules\Blogs\Models;

use Illuminate\Database\Eloquent\Model;

class Blogs extends Model {

	//
   public static $unguarded = true;

    public $timestamps = false;

	protected $table = 'user';

}

[2015-08-11 10:53] Artem-Schander commented on #3
Your problem is unclear. Is there an error? Would you please post the debug output?
How looks your controller? Is there the following line?
[code]

if not, it could be the problem. In that case `$filght = \App\Modules\Blogs\Models\Blogs::all();` should work.

[2015-08-11 12:49] NileshBadgi-Idealtechnologys commented on #3
Thanks, This code of line resolved my issue,
May secound step is creating another controller is same module. Say my moule name is "Admin" and default contoller is admin, i want to create another controller "category".
I created it and when i hit the link it shows me blank page.
"ReflectionException in Container.php line 736: Class App\Modules\Admin\Controllers\CategoryController does not exist"

I

[2015-08-11 13:24] Artem-Schander commented on #3
Nice to hear your problem is solved.
The generated Module is kind of “template“. So you can see how it works. Of course you have to define the routes which you want to use ;)

[2015-08-11 13:24] #3 closed

[2015-08-11 13:35] NileshBadgi-Idealtechnologys commented on #3
Yes I did same, but it is showing blank page, can you tell me steps to creat  a sub contoller for a module.

[2015-08-11 17:30] Artem-Schander commented on #3
I think I have a clue what's wrong with your code.
If you have the preset `Route::resource('admin', 'AdminController');` then you have the following routes reserved:
[code]
In that case a route like `admin/categories` would fire the `App\Modules\Admin\Controllers\AdminController@show` action. `categories` is here the parameter for the `show` action.

Take a look:
1. http://laravel.com/docs/5.1/con

[2015-08-12 05:30] NileshBadgi-Idealtechnologys commented on #3
My consern is quit diffrent,
I am trying to do following:
- Admin is Module name and have AdminController.
- Admin module has another controller CategoryController, ProductController.
-  Now i wanted to use that controller as part of admin module
How can i achive that is your Modular structure accept that.

[2015-08-12 06:57] Artem-Schander commented on #3
Yes, this is possible.
As long as I have no comprehensive overview of you module, I have to guess.
I recommend to ask this question at StackOverflow with all module files in detail.
Send me the link and I will take a look and answer you.

[2015-08-12 07:13] NileshBadgi-Idealtechnologys commented on #3
Hi If you needed you can find my code on dropbox, https://www.dropbox.com/sh/ho6rhfbngikjusc/AADjdIQ2Q45nX1mgqZvq33DPa?dl=0
Stackoverflow Question link: http://stackoverflow.com/questions/31958379/laravel-5-1-module-with-multiple-controllers

[2015-08-22 12:51] NileshBadgi-Idealtechnologys opened #4 "Mongo db Auth error"
Check my question here http://stackoverflow.com/questions/32155875/laravel-5-1-modular-structure-create-two-type-of-login

Also getting error with Simple Auth
Argument 2 passed to Illuminate\Database\Query\Builder::__construct() must be an instance of Illuminate\Database\Query\Grammars\Grammar, null given, called in /var/www/newlara/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Model.p

[2015-08-22 14:04] Artem-Schander commented on #4
This not seems to be an issue related to my package ;)
Nevertheless - I'll take a look later

[2015-08-22 14:05] #4 closed

[2015-09-17 08:52] wabsa commented on #1
I have the same issue when running it to my server, Centos 6.6 but on my local its working fine. Any idea? thanks

[2015-09-17 08:54] farhanwazir commented on #1
Can u show me error?
On Sep 17, 2015 12:52 PM, "wabsa" <notifications@github.com> wrote:

[2015-09-17 08:54] wabsa opened #5 "Routes not working on server"
I'm having issue when uploading the application to my server, but on my local it working fine
Error message are:

    in RouteCollection.php line 143
    at RouteCollection->match(object(Request)) in Router.php line 746
    at Router->findRoute(object(Request)) in Router.php line 655
    at Router->dispatchToRoute(object(Request)) in Router.php line 631
    at Router->dispatch(object(Request)) in

[2015-09-17 10:19] wabsa commented on #1
here: https://github.com/Artem-Schander/L5Modular/issues/5

I think its in naming of module, in my cases modules are in small caps, I capitalized my the first letter as the same of the folder name of each modules.

[2015-09-17 10:44] kazi-mainuddin-ahmed opened #6 "Does not work with Laravel 5.0.*"
This L5 Modular does not work with Laravel Version 5.0.*

[2015-09-17 20:58] Artem-Schander commented on #6
I've just checked v1.0.0 - works fine :)

[2015-09-17 20:58] #6 closed

[2015-09-17 21:17] Artem-Schander commented on #5
Hi websa, is mod_rewrite enabled?

[2015-09-27 19:52] farhanwazir commented on #1
This is incomplete message.

[2015-10-21 05:12] maengkom opened #7 "How to create each config file ?"
If each module developed by different person or team, and each module have config file (config.php), how to do that ? I can't use if I put config.php in root of module.

[2015-10-21 10:29] Artem-Schander commented on #7
Hi maengkom,

what do you want to configure?
Currently there is no config file for each module. You can create one main config file `app/config/modules.php` to define which modules should be loadded.

[2015-10-27 08:28] #7 closed

[2015-10-27 08:29] #5 closed

[2015-12-24 15:38] aramirez92 opened #9 "Not working Laravel 5.2"
Hello, L5 Modular it's not working on Laravel 5.2

[2015-12-25 10:38] Artem-Schander commented on #9
Thanks. I'll fix it soon.

Alfredo Ramirez Ortega <notifications@github.com> schrieb:

[2015-12-26 17:37] Artem-Schander commented on #9
fix: 598ec2b

[2015-12-26 17:37] #9 closed

[2016-04-24 10:37] tombombadilll opened #10 "Route cache not working"
When using this module I noticed that route caching don't work on the routes.php files in the different modules.

I would suggest this solution in the ModuelServiceProvider file:

[code]

[2016-04-25 07:25] Artem-Schander commented on #10
I'll check that. thanks

[2016-04-25 09:55] tombombadilll commented on #10
I'm happy to contribute the code (would be my first) but didn't know how to do so please advise and I can create a PR with the code. I tried that but got permission denied.

[2016-04-25 10:10] Artem-Schander commented on #10
I've created a pull request just once.
It's easy if you get the idea of forks.
So first you should fork the repo which you want to contribute to. Than make you changes / additions. And finally create the pull request.

See also [stackoverflow answer](http://stackoverflow.com/a/14681796/2891211)

[2016-04-25 12:08] tombombadilll commented on #10
Thanks for the info. Just added a PR and it showed up here so I guess I did it correct.

[2016-04-25 12:40] Artem-Schander commented on #10
yep. I'll look through the changes in a few hours.

[2016-04-25 20:53] Artem-Schander commented on #10
@tombombadilll
I've just tested with Laravel 5.2.5 and L5modular dev-master and had no problems with route caching.
Would you please provide some more details so i can reproduce?

[2016-04-26 12:33] tombombadilll commented on #10
@Artem-Schander, If you place a simple echo 'text'; in one of the modules routes.php file you will see that the echo will be processed every page call. It should not do that when you turn on route caching. Then it only use the cache.
You don't get an error but it still processes the routes.php file in the module so that is the problem. Let me know if you need more info about this.

[2016-04-26 12:34] tombombadilll commented on #10
I think this video explains the setup how it should work.
https://laracasts.com/series/whats-new-in-laravel-5/episodes/8

[2016-04-26 12:47] Artem-Schander commented on #10
What i did yesterday:

1. install laravel
2. install l5modular
3. refactor laravels preset welcome route (so it can be cached)
4. run `artisan route:cache`
5. delete content from `routes.php`
    => getting the expected result: welcome screen is still visible by accessing the route `/`

6. generate `foo-bar` module
    => getting the expected result: 404 on the route `/foo-bar`

7. run `artisan ro

[2016-04-26 13:33] tombombadilll commented on #10
Yes, all of your steps is correct and should work with or without my code.
What it is missing is the part where routes.php is process.
You can test this by doing the same steps but replace #5 with adding "die;" in the beginning of the routes.php file for a module. This die; statement shouldn't affect you reloading the welcome screen since the routes.php shouldn't even be processed.

Without my cod

[2016-04-26 13:34] Artem-Schander commented on #10
ok. i'll check that :)

[2016-04-26 13:37] tombombadilll commented on #10
Just to clarify one thing. If you add my suggested step 5 you should not be able to reload the page without adding the fix. This is because it is still processing the routes.php file. Then add the fix and it should work.

[2016-04-26 13:38] Artem-Schander commented on #10
👍

[2016-04-26 20:48] Artem-Schander commented on #10
Thanks for your effort. I'll merge your PR.

[2016-04-26 20:53] #10 closed

[2016-04-27 10:00] tombombadilll commented on #10
:)

[2016-05-12 07:25] JapSeyz opened #12 "Change Route"
Hello.

I can not figure out how the default routing is done, eg. FooBar -> www.example.com/foo-bar.
Is it possible to change this route?

[2016-05-12 12:14] Artem-Schander commented on #12
sure you can.
open the `app/Modules/FooBar/routes.php`
there should be the following resource-route: `Route::resource('foo-bar', 'FooBarController');`
change it the way you need it

[2016-05-12 12:14] #12 closed

[2016-05-17 08:06] danielsteiner opened #13 "Use global routes.php together with modules route.php"
Hello there,

I am currently looking for a hint how to use the global routes.php in Http\ since I have some code that has to be globally available, e.g. the main system. I would like to extend this main system with modules and thus use the routes.php file inside the modules folder but if there is any content in my routes.php, the ones in the module folders are ignored.

Any Idea how to "fix" that?

[2016-05-17 08:08] #13 closed

[2016-05-17 08:08] danielsteiner commented on #13
Nevermind. It was a caching problem with my laravel setup.

[2016-05-17 08:15] Artem-Schander commented on #13
If you're using `opcache` just disable it for development.
Or look at [this answer](http://stackoverflow.com/a/17304671/2891211) how to use it.

[2016-06-22 14:29] tseabra opened #14 "Cannot make it work on Laravel 5.2"
$ composer create-project laravel/laravel module-test 5.2.*
Installing laravel/laravel (v5.2.31)
...

$ composer require artem-schander/l5-modular
Installing artem-schander/l5-modular (1.3.1)
...

- created a vhost
- permissions on storage/ bootstrap/cache/ set
- browser myapp.local/ got Laravel 5 sample page
- Great so far
- added L5Modular service provider

$ php artisan make:module Monkey --no-

[2016-06-22 14:40] #14 closed

[2016-06-22 14:40] Artem-Schander commented on #14
I had no similar issues so far. But I'll look into your case in a few hours.
In the meantime you could check if other routes than the `/` works. Maybe there is a fundamental problem f.a. with your `.htaccess`
[make sure htaccess is working](http://www.epigroove.com/blog/laravel-routes-not-working-make-sure-htaccess-is-working)

[2016-08-31 21:00] morenDev opened #15 "Auth::user() returns null"
Auth::user() returns null from module

[2016-08-31 21:04] Artem-Schander commented on #15
please check your namespace. `\App::user()`

[2016-08-31 21:29] morenDev commented on #15
Figure it out!
before:
[code]
after:
[code]

i've tried to apply web group to module routes in RouteServiceProvider,
but it didn't help(why???):
[code]

[2016-08-31 21:32] morenDev commented on #15
So the main question is why i can not apply $middlewareGroups inside RouteServiceProvider

[2016-09-02 19:29] Artem-Schander commented on #15
I don't know if i understood you correctly.
You can not apply any middleware group to a route inside a module?

[2016-09-02 20:09] Artem-Schander commented on #15
I have really no idea what you try to achieve. You can apply any middleware group to your modules routes.

FA:
[code]

Or like that:
[code]

I'm using this package in many projects myself and have never had problems with getting `Auth::user()`.

BTW. Where do you get `$this->apiNamespace` and `$this->moduleNamespace` inside your `RouteServiceProvider` from? Like you can see, it's completely unnece

[2016-09-09 09:17] bkkrishna opened #16 "Not working with Laravel < v5.1.1"
I have been using this package for about an year now and am very pleased with how easily it manages modules in a project.

But, I am still using my project with Laravel 5.1.1 and recently noticed (when doing some **composer update**s) that it was throwing the following error. [http://imgur.com/iAUlGSC](url)

So, is there anyway I can get over this issue or it no longer supports Laravel less than v

[2016-09-09 09:27] Artem-Schander commented on #16
I'm currently at work but I'll take a look in a few hours.
In the meantime you could change your `composer.json` from `"artem-schander/l5-modular": "dev-master"` to the version you're using now.

[2016-09-09 11:38] bkkrishna commented on #16
I did that but seems there is no support for Laravel v5.1.1-v5.1.5 :
http://imgur.com/a/rtBq3

Thanks again for the reply.

[2016-09-09 20:58] Artem-Schander commented on #16
Which version do you run?
And why do you don't update to 5.1.46?

[2016-09-09 22:22] Artem-Schander commented on #16
I've updated the composer.json so you should be able to to update on `dev-master` your > L5.1 projects.
Bacause my module generator extends the [Illuminate/Console/GeneratorCommand](https://github.com/laravel/framework/blob/5.1/src/Illuminate/Console/GeneratorCommand.php) it would not work correctly with lower version than 5.1

[2016-09-09 22:22] #16 closed

[2016-09-10 03:51] bkkrishna commented on #16
Thanks for the commit. It's working a like a charm now.

[2016-09-18 22:14] webreinvent opened #17 "Is it compatible with laravel 5.3?"
Is it compatible with laravel 5.3?

[2016-09-19 08:50] Artem-Schander commented on #17
it should be. I'll tell you more in a few hours.

[2016-09-19 08:52] #15 closed

[2016-09-20 18:53] Artem-Schander commented on #17
yep, works like expected.

[2016-09-20 18:53] #17 closed

[2016-10-22 10:52] pboethig opened #18 "laravel 5.1 not supported"
How to use the cool generator on laravel 5.1.x
If I use 5.3.x no commands are available on artisan console.

Please help me fixing that

Kind regards

Peter

[2016-10-24 16:52] morenDev opened #19 "Multiple include during testing"
PHP Fatal error:  Cannot redeclare is_active_menu() (previously declared in /xxx/app/Modules/Admin/helper.php:29) in /xxx/app/Modules/Admin/helper.php on line 29

include_once could solve the issue. Why do you use include here?

[2016-10-25 07:08] Artem-Schander commented on #18
Hi, sorry for the late reply. i was on holidays.
I'm pretty sure that i have tested this package on 5.3 without any issues.
Please make sure, that you added the service provider to your `config/app.php`. If that is not the problem, I'll take a look in a few hours.

[2016-10-25 14:47] Artem-Schander commented on #18
BTW. Your title / question is a bit confusing .. do you have problem with Laravel version 5.**1**.x or 5.**3**.x ?

[2016-10-25 18:31] pboethig commented on #18
That was the solution. I forget the serviceprovider

Thx very much

Am Dienstag, 25. Oktober 2016 schrieb Artem-Schander :

config/app.php. If that is not the problem, I'll take a look in a few hours.

https://ci6.googleusercontent.com/proxy/ftscO0QWo9Ok4dodqi5mjpwGapMRuuPfbejS2fTYDk64TuAq9qw4SrPvSUjAGCou9SeJVov2fnQnrP658oTfu-BtME81DQi16dEZWRAutdjOoOOMX108tcnTyc8WNkL1uSPJpZ2yf-4YOnxgS_V-9m_p5lbt_A

[2016-10-26 06:34] #18 closed

[2016-10-27 07:54] Artem-Schander commented on #19
Hi,
your problem is not a multiple include (in fact every file is getting included once anyway).
Since the function in your `helper` files are in the same scope, you should either give them a unique name or check if there is already a function with the same name.

Laravel is doing the same thing in its helpers file. F.A.
[code]

[2016-10-27 07:54] #19 closed

[2016-10-27 13:53] morenDev commented on #19
@Artem-Schander Thanks!!
I had a mess in    function_exists('xxx')

[2016-11-16 07:24] mtutumlu opened #20 "artisan route:cache fails"
artisan route:cache command fails due to more than one inclusion of the helper.php files.

I have fixed the issue with updating "include $helper;" to "include_once $helper;" in boot() method of ModuleServiceProvider class.

[2016-11-16 07:26] Artem-Schander commented on #20
thanks. i'll take a look later

[2016-11-17 19:16] Artem-Schander commented on #1
closing due to inactivity

[2016-11-17 19:16] #1 closed

[2016-11-18 10:42] morenDev commented on #20
with this update all my tests fail(

[2016-11-18 10:44] Artem-Schander commented on #20
would you please provide some examples?

[2016-11-18 10:46] morenDev commented on #20
I'm working on in right now, i've just ran unit tests and module part of the has failed right after the package update

[2016-11-19 07:24] mtutumlu commented on #20
include_once $helper; is worked but include_once $routes; fails the following code not return the module routes:
[code]

[2016-11-30 09:42] #20 closed

[2016-11-30 17:06] wabsa opened #21 "Routes not detecting when vhost"
Routes not found when vhost is setup, but in running artisan serve it can get the routes. I'm using laravel 5.3. Any idea?

[2016-11-30 18:27] Artem-Schander commented on #21
Make sure to activate `mod rewrite` and point your domain into the public folder.
Also this [.htaccess](https://github.com/laravel/laravel/blob/master/public/.htaccess) file belongs into the public folder.

BTW. this question belongs on some Q&A board like StackOverflow.

[2016-11-30 18:27] #21 closed

[2017-01-26 15:12] ace05 opened #22 "Translation"
How can i access translation at Module controller by using trans() method ?

[2017-01-26 15:16] #22 closed

[2017-01-26 15:17] Artem-Schander commented on #22
similar to loading/rendering the view.
`trans('FooBarModule::example.welcome')`

If you generate a module with `php artisan make:module foo-bar` you'll get a view with a translation by default.

[2017-01-26 16:58] ace05 commented on #22
Thankz

[2017-02-03 10:17] wbdavidhoeck opened #25 "Laravel 5.4 Error with parseName function not available anymore"
Call to undefined method ArtemSchander\L5Modular\Console\ModuleMakeCommand::parseName()

[2017-02-03 17:23] #25 closed

[2017-02-11 23:56] macwinnie opened #30 "How to get a list of modules?"
Is there any functionality to get all / only enabled / the disabled modules?

[2017-02-12 18:04] Artem-Schander commented on #30
you can get the array of enabled modules from your config (if there is one) `config("modules.enable")`
Besides that you could use Laravels [Filesystem](https://laravel.com/docs/5.4/filesystem#directories) and get the directories from your Modules folder `Storage::directories(app_path().'/Modules/')`

[2017-02-12 18:04] #30 closed

[2017-03-15 00:43] jericopulvera opened #32 "How to use the helper.php?"
How to use the helper.php in a view?

[2017-03-18 08:05] Artem-Schander commented on #32
since the helper file ist getting loaded by the `ModuleServiceProvider.php`, you can use it all over your app.
So if you have a function named `generateRandomNumber` in any of your Modules `helper.php` file, you can call it like this: `<?php echo generateRandomNumber() ?>`.
In a blade view it would look like `{{ generateRandomNumber() }}`

[2017-03-18 08:05] #32 closed

[2017-05-31 03:19] workfredy opened #33 "Case-sensitive module naming issue"
Hi sir,
I have create a modul name "Product" and run perfectly when i opening `test.dev/Product` in my browser. But return error `"NotFoundHttpException in RouteCollection.php line 179:" ` when i open `test.dev/product` (in lowercase). There anyway to ignored this case-sensitive? Thank you

[2017-05-31 06:05] Artem-Schander commented on #33
Would you please post the output of `php artisan route:list` and also the content of your `app/Modules/Product/routes/web.php` routes file?

[2017-06-02 17:44] Artem-Schander commented on #33
closed due to inactivity

[2017-06-02 17:44] #33 closed

[2017-06-12 16:14] jcferranm opened #34 "How reference views path?"
Hi.

How reference views path in route?

If my view is named "bar" and is in Modules/Foo/Views, the code doesn't works

Route::get('example', function () {
    return view('foo.bar');
});

[2017-06-12 16:21] Artem-Schander commented on #34
You have to use the double colon notation.
Did you use the generator? If so, in the Controller is a working example. If not, try `php artisan make:module foo`.

For reference
`return view("Foo::bar");`

[2017-06-12 16:21] #34 closed

[2017-06-17 09:57] kyonkopa opened #35 "php artisan make:module not working"
This command returns make:module not defined

[2017-06-17 14:54] Artem-Schander commented on #35
Is the Serviceprovider in the corresponding config array?

[2017-06-17 17:22] kyonkopa commented on #35
Yes it is, but it still didn't work so this is what i did to fix it.
`    protected $commands = [
        \ArtemSchander\L5Modular\Console\ModuleMakeCommand::class
    ];`
in Console\Kernel.php
After this it worked

[2017-06-19 06:09] Artem-Schander commented on #35
Which laravel version do you have this issue on?
Would you also post the content of your `config/app.php`

[2017-06-20 03:00] kyonkopa commented on #35
Laravel version 5.4
app.php
[code]

[2017-06-20 06:58] Artem-Schander commented on #35
I cant reproduce this issue.
There must be something with your laravel installation.
Everything runs fine after I've done these steps:
1. `laravel new l5-modular`
2. `cd l5-modular`
3. `composer require artem-schander/l5-modular`
4. add the `ArtemSchander\L5Modular\ModuleServiceProvider::class,`to the providers array
in `config/app.php`
5. `php artisan` returns the following (among others)
[code]

[2017-06-20 06:58] #35 closed

[2017-07-28 13:39] tuxinside opened #36 "Module Route with middleware auth not works"
Hello, first of all thank you for your works!

I'm using your module, but i think to have find a problem. Default routes of module (web.php) is:

[code]

If i would like to protect my routes by middleware, i should change Route::group like that:

[code]
If i change Route::group like example above when i try to go to "/test", i will be redirect to "/". My suspicion is that auth middleware are not l

[2017-07-28 15:15] tuxinside commented on #36
After about 2 hours of test and debug i think i found solution. This code inside web.php of module works like a charms:

`Route::group(['middleware' => ['auth'], 'namespace' => 'App\Modules\Test\Controllers'], function() {
    /* Test Module */
    Route::get('/test', 'TestController@testIndex');
});`

The only difference seems to be the use of [ ] instead of array()... Anyhow, now seem to be solv

[2017-07-31 08:04] Artem-Schander commented on #36
I have no idea if the `**auth**` is what you really typed into your code or just the mark down. If so, this could be the problem.
I'll check this issue with the following code in a few hours.
[code]

[2017-08-07 15:16] DezrtRose opened #37 "Route problem"
Hi there,

Could you please help me out with a problem with this package. Actually the problem is that when I try to protect my routes with auth middleware in the web.php file, then the auth middleware doesn't work, but however if I use the middleware in the api.php file then the routes in the web.php is also protected.

It seems that the package is prioritizing api.php file before web.php file. I

[2017-08-07 15:20] Artem-Schander commented on #37
i'll take a look

[2017-08-07 15:24] DezrtRose commented on #37
@Artem-Schander just figured it out. The problem is because both the api.php and the web.php has the same route created in them as a boilerplate when a new module is created. This is what causing the problem. It just hit me as soon as I posted the issue!

[2017-08-07 15:33] Artem-Schander commented on #37
cool, so I'm closing this issue

[2017-08-07 15:33] #37 closed

[2017-08-08 07:55] sonvisal opened #38 "problem with hosting"
![image](https://user-images.githubusercontent.com/10892396/29061808-915c1918-7c49-11e7-9be4-27db7a5b30c5.png)
when i hosting i have problem like this image

[2017-08-08 10:24] Artem-Schander commented on #38
It does not look like it has something to do with l5modular package.
You cant access the `/` route. Please check your main web routes file. Or check the output from the cli command `php artisan routes`.

[2017-08-08 10:24] #38 closed

[2017-08-08 10:28] Artem-Schander commented on #38
Since it's kind of off-topic, I would recommend to ask a question on [Stack Overflow](https://stackoverflow.com) or a similar Q&A board.
If you'd share the link here, I would try to answer it there.

[2017-08-31 05:43] phardnor opened #39 "Laravel 5.5 issue when hitting make:module ModuleName error was occured"
Hi,

I would like to report this issue when I tried to run the command on generating module error was occurred. Please check below.

https://www.screencast.com/t/lRosinIVIJ6

Note: My php version: 7.1+

Thank you.

Ronard

[2017-08-31 06:18] Artem-Schander commented on #39
Hi Roland,
i'll check that later.

[2017-08-31 07:48] phardnor commented on #39
Hello @Artem-Schander,

Thanks.

[2017-08-31 18:42] Artem-Schander commented on #39
Solved in [v1.4.1](https://github.com/Artem-Schander/L5Modular/tree/1.4.1), see 0bb366cd34f7d325981726e4022a08f9662c9c9f
Reinstall the package and it should work.

[2017-08-31 18:42] #39 closed

[2017-09-05 18:31] drjoju opened #40 "Requests in Module"
Hi,

How about Requests? Why don't you include they?

Best regards

[2017-09-05 18:41] Artem-Schander commented on #40
i thought I'll keep the generated modules simple and as far as possible without any (possibly) unused overhead.
But you can add all kinds of classes to them. Just keep the [psr-4 autoloading name convention](http://www.php-fig.org/psr/psr-4/) in mind.

[2017-09-05 18:41] #40 closed

[2017-09-05 19:59] drjoju commented on #40
Yes sure. It's only a suggestion. ;)

Thanks and best regards

[2018-07-22 05:26] marufmax opened #41 "How to use vue single file component?"
I am building a large system with vue and vuex. This module system doesn't have "assets" or any directory where I can put my front-end logics in here.

How can I implements this feature?

Thanks

[2018-07-22 08:34] Artem-Schander commented on #41
I would think of two possibilities.
1. You could use the "global" assets. That's how I always did it
2. You could configure your [filesystem](https://laravel.com/docs/5.6/filesystem#the-local-driver) to have multiple discs for a more "scoped" solution.

I'm closing this question for now. Feel free to reopen it.

[2018-07-22 08:34] #41 closed

[2018-08-09 13:18] vireshtripathi commented on #15
I am also not able to get value from Auth::user() in modules controller. can you please help me out.

[2018-08-09 14:01] galexth commented on #15
show your 'auth' middleware

[2018-08-09 14:45] Artem-Schander commented on #36
please make sure, you have not defined this route somewhere else without the middleware.
F.A. the route `Route::resource('screen_colors', 'ScreenColorsController');`

I think i should remove the resourceful api route from the generator.

[2018-08-10 05:24] vireshtripathi commented on #36
I have not define route any where, my route in module/screencolors/route/web.php

Route::resource('screen_colors', 'ScreenColorsController');

[2018-08-10 10:10] Artem-Schander commented on #36
could you post the api route of your screen_colors module?

[2018-08-25 07:57] Artem-Schander commented on #36
closing due to inactivity

[2018-08-25 07:57] #36 closed

[2018-09-28 09:12] fxbytes-jaiprakash commented on #35
Hi,
I'm using laravel 5.7
I'm getting below error while i run "php artisan make:module name" command
Command "make:module" is not defined.

Thanks in advance

[2018-09-28 20:20] Artem-Schander commented on #35
@fxbytes-jaiprakash
I have no issues with the latest version (5.7.6)
Please follow the instructions in my comment from 20 Jun 2017 (or the readme)

[2019-02-05 04:22] virgiltu opened #42 "Migration Split"
Thank you for making this, it works perfectly.

Is there a way to make the migration in the module folder. This way we could run the migration from the module itself.
Now I have to run a migration every time I make a change resting my entire environment. I feel if that would be the case I could only run migration on that one module and not on all the others.

[2019-02-05 23:02] virgiltu opened #43 "Auth redirect"
Sadly this does not work so well when you try to use Auth.

For example if you put
`
public function __construct()
    {
        $this->middleware('auth');
    }`

inside a controller the login will always push you to /home

if you add ->middleware('auth'); at the end of a route it does not work.

Also if you add auth to the middle ware group it also does not work.
[code]

[2019-02-07 18:28] Artem-Schander commented on #42
I like the idea .. I'll try to find the time to implement it.
Or you could create a pull request if you have the time ;)

[2019-02-07 18:31] Artem-Schander commented on #43
I had no issues with any middleware. I think there is a problem with the implementation of your auth middleware.
Could you create a minimalistic example and put it to github, I would take a look :)

[2019-11-15 01:05] tristanantazo opened #44 "studly_case() undefined"
Call to undefined function ArtemSchander\L5Modular\Console\studly_case()

hi, I always get this error when making a module, I tried to remove the studly_case and other function indicated on the error, and it works, I hope you'll fix this for laravel 6.*

[2019-11-15 06:37] Artem-Schander commented on #44
@tristanantazo Thanks for the info. Will be fixed soon.

[2019-11-17 15:37] Artem-Schander commented on #43
closed due to inactivity

[2019-11-17 15:37] #43 closed

[2019-11-17 16:11] Artem-Schander commented on #44
Please update the package. [Version 1.4.2](https://github.com/Artem-Schander/L5Modular/releases/tag/1.4.2) should fix the issue.

[2019-11-17 16:11] #44 closed

[2019-11-18 01:54] tristanantazo commented on #44
thank you for this, but I can't update the package to 1.4.2 it says

Problem 1
    - The requested package artem-schander/l5-modular 1.4.2 exists as artem-schander/l5-modular[1.0.0, 1.1.0, 1.2.0, 1.2.1, 1.2.2, 1.3.0, 1.3.1, 1.3.2, 1.3.3, 1.3.4, 1.3.5, 1.4.0, 1.4.1, dev-develop, dev-master] but these are rejected by your constraint.

[2019-12-04 12:06] Danilo162 commented on #35
hi I use laravel 6.2, this is my first time I use L5 modular, I can not use the session (auth () -> user ()) in the controllers and views of my module, thank you.

[2019-12-04 12:12] Danilo162 commented on #35
hi I use laravel 6.2, this is my first time I use L5 modular, I can not use the session (auth () -> user ()) in the controllers and views of my module, thank you.

[2019-12-04 14:02] Artem-Schander commented on #35
@Danilo162
There are no known issues with the auth middleware. Please check the [laravel docs](https://laravel.com/docs/5.8/authentication#protecting-routes).
And it would be nice if you could open a new issue, If the issue persist.

[2019-12-29 13:51] cbatista8a opened #45 "include auto discovery"
**include auto discovery ServiceProvider in your composer.json** [](https://laravel.com/docs/5.7/packages#package-discovery)

`"extra": {
        "laravel": {
            "providers": [
                "ArtemSchander\\L5Modular\\src\\ModuleServiceProvider"
            ]
        }`

[2020-02-16 18:42] Artem-Schander commented on #45
Done. See [v1.4.3](/Artem-Schander/L5Modular/releases/tag/1.4.3)

[2020-02-16 18:42] #45 closed

[2020-02-28 16:47] juliomotol opened #46 "Extend Laravel's scaffolding commands to generate in a certain module"
Hi, thank you for providing this awesome package. Our team have been using this for years now. As good as it is, it can be troublesome to generate controllers,models, etc. using Laravel's scaffolding commands. It would be nice if we could just run `php artisan make:controller SomeController --module=SomeModule` and the generated controller will be inside the assigned module.

I have forked this re

[2020-02-29 09:43] Artem-Schander commented on #46
Hi @juliomotol

I like the Idea and many thanks for the contribution so far.
The only thing I would miss here is a list command. But it is not crucial. I would otherwise implement it myself someday.
Besides that I'm curious about the Request and Resource classes. In which cases do you need custom Requests / Resources in a module.

The automated tests is something I still have on my ToDo list for t

[2020-02-29 10:03] Artem-Schander commented on #46
BTW. For the sake of simplicity I'm using snippets for new classes. I have no Idea about other editors, but in nvim you can write [custom snippets](https://github.com/Artem-Schander/dotfiles/blob/42e7dbea3ec5aa000251b47daa9e34f4d4b051ee/config/nvim/UltiSnips/php-laravel.snippets#L45-L81) which automatically expands to classes with correct namespace, etc. However, I see the benefints of the CLI com

[2020-02-29 10:06] Artem-Schander commented on #46
BTW. For the sake of simplicity I'm using snippets for new classes.
I have no Idea about other editors, but in nvim you can write [custom snippets](https://github.com/Artem-Schander/dotfiles/blob/42e7dbea3ec5aa000251b47daa9e34f4d4b051ee/config/nvim/UltiSnips/php-laravel.snippets#L45-L81) which automatically expands to classes with correct namespace, etc. However, I see the benefints of the CLI com

[2020-03-01 02:01] juliomotol commented on #46
Hi, Thanks for the timely response. As for your questions:

- By list command do you mean `php artisan list`? If so, since we are overriding the existing commands they will still be there and when we `php artisan help make:controller`, the `--module` option will also show up.
- Request - there are cases that a `FormRequest` class is only used in a certain module and our team find it more organized

[2020-03-01 11:13] Artem-Schander commented on #46
By "list" I mean `php artisan list:modules`. I think it's more convenient to get the module names through the cli while you're working in it anyway.
The Request / Resource points are comprehensible.

I like the regular "make" syntax with flags for the classes, but if there is no way around the drawback that other packages will possibly not work, then that is not a suitable solution.
One alternativ

[2020-03-01 14:03] juliomotol commented on #46
I think I can squezee `php artisan list:modules` in. Seems pretty simple to do.

What about `php artisan make:module:controller SomeController --module=SomeModule`. They can also do `php artisan make:module:controller SomeController` then they'll be asked what module they want to generate the class.

Yes I'm aware that i can snake my way with `php artisan make:model "Modules\FooBar\Models\[model n

[2020-03-01 14:06] Artem-Schander commented on #46
Both variants sounds good to me.

[2020-03-01 14:17] juliomotol commented on #46
Quick update on this.

![image](https://user-images.githubusercontent.com/21353103/75627366-71638f80-5c0a-11ea-88c9-8da69209ff21.png)

[2020-03-01 14:22] Artem-Schander commented on #46
Nice. Looks promising :)

[2020-03-07 15:12] Artem-Schander commented on #46
Hi @juliomotol,

after a closer look (and with your additions in mind) I decided to rewrite large parts of this package. It can be done much better than it currently is and I'm making pretty good progress.
Since there will be (sort of) breaking changes, I will roll out a major release. But no worries, the package will be configurable to work with v1 modules.

To give you a little glimpse in the ch

[2020-03-07 21:14] Artem-Schander commented on #46
I've finished some [make command acceptance tests](https://github.com/Artem-Schander/L5Modular/blob/release/2.0.0/tests/ModuleMakeCommandTest.php).
Unfortunately I could not get the http request tests running correctly. But I think there will be no need for them as soon as I get the unit tests for the service provider done.

[2020-03-08 07:51] yanzlatov opened #47 "Add functional arrilot/laravel-widgets"
use Illuminate\Support\Facades\View;
-----

$widgets  = app_path().'/Modules/'.$module.'/Widgets';

if ($this->files->isDirectory($widgets)){
	$directories = $this->files->directories($widgets);
	foreach($directories as $Widjet){
		$WidjetViews = $Widjet."/Views";
		if ($this->files->isDirectory($WidjetViews)) {
			View::addNamespace('Module.'.$module.'.Widget', $WidjetViews);
		}
		$controllerLis

[2020-03-08 08:12] Artem-Schander commented on #47
Hi @yanzlatov
I have no idea what the "arrilot/laravel-widgets" package is about and what the issue is here.
However, I'm about to release a v2. A lot of functionality (mainly generators) will be added.

[2020-03-08 08:18] yanzlatov commented on #47
Package : https://github.com/arrilot/laravel-widgets/

No problems.
The implementation of the arrilot/laravel-widgets functions, the directory with the module (your package) is convenient for me.
For example, I’m doing a Blog module, it has a folder with widgets: the latest comments, the latest news, bookmarks, etc., which specifically relates to this module.

[2020-03-08 08:21] Artem-Schander commented on #47
Ok, I see.
I will take al closer look at the widgets package and think about its general usability. For the time being I can not say if this will be implemented.
Anyways, thanks for your suggestion.

[2020-03-08 08:27] yanzlatov commented on #47
Ideally combine them in one package.
An example of the implementation of the interaction of two packages was thrown off by the code in the first message.

[2020-03-08 15:56] Artem-Schander commented on #46
I'm done. Feel free to create a PR into the release/2.0.0 branch. :)

[2020-03-09 01:13] juliomotol commented on #46
Hi! This is great! I'll get in to it as soon as I can 😄

[2020-03-09 13:51] juliomotol commented on #46
I'm still fairly new to using test scripts, I can't seem to fix this:

![image](https://user-images.githubusercontent.com/21353103/76218889-ef014e00-624f-11ea-8017-4693076c42bf.png)

[2020-03-09 14:18] Artem-Schander commented on #46
The last one fails because of the directory separators. I didn't thought about windows having backslashes as such.
The other one needs to be debugged. But I thing the cause is the OS too.
Unfortunately I have no possibility to run the tests on a Windows.
Could you run the tests in a Linux VM or Vagrant or Docker?

[2020-03-09 14:44] juliomotol commented on #46
I'm still setting up and starting to migrate to Ubuntu. I'll keep you posted on that, but for the mean time I'll work with what I have.

I've heard of Docker but our team is yet to implement it. I could look into it so that I could apply what I learn here for our team.

[2020-03-09 19:15] Artem-Schander commented on #46
Here is the `docker-compose.yml` which I used to run the tests with code coverage (my local php does not have the tools).
[Docker](https://docs.docker.com/docker-for-windows/) and [Docker Compose](https://docs.docker.com/compose/install/) are obviously required.

[code]
Your code has to be in a folder named `src` on the same level as the `docker-compose.yml`.
The following steps should then get yo

[2020-03-11 17:58] Artem-Schander commented on #46
Hey @juliomotol, how is it going.
According to the [blog post](https://dev.to/c33s/always-use--as-directory-seperator-in-php-43l7) the directory separator should be accepted regardless of its direction.

[2020-03-12 00:53] juliomotol commented on #46
Hi, I got this working on my Ubuntu workstation. but the `Mockery_0_ArrayAccess` error still persists

![image](https://user-images.githubusercontent.com/21353103/76476588-6f38d680-643d-11ea-9d88-50f6bb6f8bee.png)

Will now start writing tests for the extended commands. Also, I installed Docker on my Windows workstation but I'll still need to read up on how to use Docker. Theres an error saying "c

[2020-03-12 07:42] Artem-Schander commented on #46
Hm.. This is strange.
Would you please tell me the output of `composer show` and `php -v`?
Also it would help to see what error you get if you comment out the [should receive singleton statement](https://github.com/Artem-Schander/L5Modular/blob/facd9a64ef95c58f968d6bf4b5dd6b946cf6de13/tests/ModuleServiceProviderTest.php#L93-L95) and run the test.

Docker:
I think my example was a little confusing.

[2020-03-12 12:21] juliomotol commented on #46
Hi, I understand the problem with the `it_registers_the_package` test. I made a [minor change](https://github.com/juliomotol/L5Modular/blob/feature/Extend-commands/src/ModuleServiceProvider.php#L14-L320) on how commands a registered. I removed the `$this->app->singleton()` and used `$this->commands()` to load the commands. The dependencies are [automatically injected](https://laravel.com/docs/5.8/

[2020-03-12 14:29] Artem-Schander commented on #46
That makes sense.

I thought so. I will try to narrow down the cause of the problem in your repo in a few hours.

Strange. If have the time and the will to tackle this, I could help you as far as I can. But I think the issue tracker isn't the right place. Slack or some other chat would be better.

[2020-03-12 14:48] juliomotol commented on #46
I'll just use my Ubuntu workstation when running the test for now. I'm just starting on writing the bunch of tests for generator commands. I couldn't find the time to do it in past couple of days due to my workloads. The best I could have it is by next week hopefully.

[2020-03-12 19:40] Artem-Schander commented on #46
All tests run green on OSX and Arch Linux when I comment the [should receive exists](https://github.com/juliomotol/L5Modular/blob/a200338eaf6375c7a6aacc8a78bb0c95596b99cc/tests/ModuleServiceProviderTest.php#L146-L149) back in.

[2020-03-15 08:02] juliomotol commented on #46
Hi @Artem-Schander,

Im almost done with the test. Do you still plan to enable/disable modules? I can't seem to find that option in the config file. I actually added that to the `module:list` command.

![image](https://user-images.githubusercontent.com/21353103/76697730-bccf7080-66d5-11ea-891e-5040ac25d614.png)

Also there could be a problem with the `/Resources`  directory.

![image](https://user

[2020-03-15 10:01] Artem-Schander commented on #46
Depending on the filesystem it could be a problem indeed. I would say, lets put `Controllers`, `Requests` and `Resources` into a `Http` folder by default.

[code]

BTW. I would not sort them alphabetically. Its pure chaos ^^

You can still disable modules, but the setting is now in the [`specific` config part](https://github.com/Artem-Schander/L5Modular/tree/release/2.0.0#specific).

[2020-03-15 15:59] #46 closed

[2020-03-15 16:01] Artem-Schander commented on #42
Hi @virgiltu
I know, it's been a while :)
I'm about to release a v2. Many new features are coming, among other things the migrations will be placed inside the corresponding module.

[2020-03-15 16:01] #42 closed

[2020-03-22 09:02] popovserhii opened #49 "How to create ConsoleCommand?"
All work just fine, I can generate a module with Controller, Model and etc, but now I need to create a console command in my module. How can I do it?

[2020-03-22 09:41] Artem-Schander commented on #49
Hi @popovserhii
for now there is no generator and no custom registration for module commands. But it would be a useful improvement.
Feel free to create a PR. Otherwise wait some time till I find some time to implement it.

[2020-03-22 11:16] popovserhii commented on #49
If you'll explain how or give some resource where I can read about it, then I check if I could do it.

[2020-03-22 11:52] popovserhii commented on #7
@Artem-Schander,
I have many parsers in modules, each parser has a different configuration with fields mapping.
Are there any solutions on how to add separate config file per Module?

[2020-03-22 11:53] Artem-Schander commented on #49
Ok, there are three different aspects to cover:
1. A make command must be implemented
2. The [module service provider](https://github.com/Artem-Schander/L5Modular/blob/master/src/ModuleServiceProvider.php) needs to look into the configured console commands folder and register the commands if it finds some.
3. The configuration

**The make command**
You could extend the [ConsoleMakeCommand](https:/

[2020-03-22 12:02] Artem-Schander commented on #7
There is a [`specific`](https://github.com/Artem-Schander/L5Modular/blob/ee14378e58648b0923fe59b6fdc72d8c5f18c51e/src/config/modules.php#L105-L126) config. You can place there whatever you want.

Example:
[code]
you could access the Html parser from Members module like `config('modules.specific.Members.HtmlParser');`

[2020-03-22 12:10] Artem-Schander commented on #49
I forgot to mention, everything must be covered with unit tests / integration tests and should have no code smells, repetition, etc. (according to [Code Climate](https://codeclimate.com/github/Artem-Schander/L5Modular))

[2020-03-27 02:34] juliomotol commented on #49
I didn't thought anyone would do this so i didn't included it. If I may add, place the generated command in this directory.

    laravel-project/
        app/
        └── Modules/
            └── FooBar
                ├── Console
                │   └── FooBarCommand.php // generate the command here
                ├── Http
                │   └── Controllers
                │       └── FooBarCon

[2020-03-27 11:30] vedanshwishfin opened #53 "create config and contract service binding"
I need to create a specific config in the modular and also I need to bind used in contract and service in App service Provider. How can I do that?

[2020-03-27 15:32] Artem-Schander commented on #53
Hi @vedanshwishfin

I don't know if i understand correctly..
* You can add any type of config into `config/modules.php`. There is [an example](https://github.com/Artem-Schander/L5Modular/issues/7#issuecomment-602188729) in issue #7
If you thought of implementing a config file into every module, I think it would lead to a "config mess".
*

[2020-03-31 10:38] Artem-Schander commented on #53
Are we good here?

[2020-03-31 13:49] vedanshwishfin commented on #53
yes, I just went through the example as mentioned by you. Thanks

[2020-03-31 13:49] #53 closed

[2020-04-01 11:23] husseinferas opened #54 "config files for a specific module"
**Is your feature request related to a problem? Please describe.**
many of the time a module need a configuration that can be published to the main project
this feature in so important to the modules structures and make it easy to reuse the module in other projects with different configurations

**Describe the solution you'd like**
It would be awesome if I can add a config file for my module for e

[2020-04-01 11:37] husseinferas opened #55 "Nested Modules"
**Is your feature request related to a problem? Please describe.**
when you building a module structure project or HMVC (Hierarchical model–view–controller)
sometimes you need to use nested modules (module inside the module)

**Describe the solution you'd like**
add an artisan command to create a submodule (php artisan module:make:module Bar --module=Foo)
or (php artisan make:module:submodule Bar

[2020-04-01 12:55] Artem-Schander commented on #55
Hi @husseinferas

Thanks for the suggestion, but I don't think it is a good idea. There are multiple things to consider.
1. Your Idea would lead to the necessity of recursive module loading. Which eventually would result in bad performance
2. The make commands for module components would not be able to determine which module is meant (if there are same names in different hirarchies)
3. Projects wo

[2020-04-01 12:55] #55 closed

[2020-04-01 13:00] Artem-Schander commented on #54
Hi @husseinferas

Thanks for the suggestion. I'll think about the pros and cons.
For now you could use the regular modules config. See the [example](https://github.com/Artem-Schander/L5Modular/issues/7#issuecomment-602188729) in issue #7

[2020-04-01 13:32] husseinferas commented on #54
Ok, @Artem-Schander thank you,
This package is great and clean, I 'm so excited about an idea to build a website for modules that developers can upload and download and share modules between each other.
what do think? if you love the idea, share with me your email and I will send to you the details

[2020-04-01 13:42] Artem-Schander commented on #54
Sounds awesome :)
The only problem that would come to mind is that routes from different modules could conflict.
My email address is info@artekk.de

[2020-04-01 13:52] #54 closed

[2020-10-10 22:49] atefrihane opened #58 "Migrations in the old way"
Hey guys

How can I generate migrations in the standard way like in the previous versions ?
I've played around with config files but no way

**UPDATE :**

I had to edit this method here in **MigrateMakeCommand** Class

[code]

is there a cleaner way to make this change ?

[2020-10-11 09:50] Artem-Schander commented on #58
Hi @atefrihane,

If I understand correctly, you could use Laravels make method.
Like: `php artisan make:migration --create=some_table create_some_table`

I hope this helps. Otherwise feel free to reopen this issue.

[2020-10-11 12:52] atefrihane commented on #58
@Artem-Schander  Yes I know I can do that manually with the make migration command..
but what I meant is to generate it automatically in app/database folder like ( in <= 1.4 version)..
Thank you for your answer anyway

[2020-10-11 16:32] Artem-Schander commented on #58
What do you mean by "automatically"?
In both scenarios you have to execute an artisan command, either `make:migration` or `make:module:migration`.
Or am I missing something here?

[2020-10-11 18:47] atefrihane commented on #58
@Artem-Schander
what I meant is when I execute`make:module ModuleName` in the old versions it creates a   ModuleName folder + migration file  in `app/database` ..
For the current version when you set `migration=>true` in  config file it , the migration gets created  inside the module folder itself..
That's why I was asking if I can do it in the old way..
I hope it's clear!

[2020-10-12 13:42] Artem-Schander commented on #58
Ah, now I got it.
Not my brightest moment ^^
I'll see what I can do.

[2021-01-09 20:27] lparede opened #59 "Help setting up L5Modular V2 to work with existing V1 Modules"
Hello, guys.

I've updated the L5Modular of my project to version 2 and I'm trying to make the V1 Modules to work, but without success.

I follow the documentation, and added my existing modules to the config file like this:

`
'specific' => [
'MyModule' => [
		'enabled' => true,
		'routing' => [ 'simple' ],
		'structure' => [
		'controllers' => 'Controllers',
		'models' => 'Models',
		'requests'

[2021-01-10 17:58] lparede commented on #59
Guys, I found out what I was doing wrong!

The file `routes.php` is on the module root directory, but I missed that configuration. I just need to had the following element to the array: `routes => ''`

[2021-01-10 17:58] #59 closed

[2021-01-12 11:47] lparede opened #60 "Error when using action()"
Hello.

I've updated L5 Modular in my project from V1 to V2.

I've set the config file to load the V1 modules, but now I'm getting this message:

`Target class [App\Modules\MyModule\Controllers\App\Modules\MyModule\Controllers\MyController] does not exist.`

I think that this is happening because some of the project developers have used the action function with the full path to the controller meth

[2021-01-12 21:19] Artem-Schander commented on #60
Hi @lparede,
I‘ve never used the `action` helper. I‘ll dig into it.
For now you could try to refactor the parts to something like `action('MyModule\Controllers\MyController@index');` while whithin the module.`.

But to be honest, I think your example should work as long as it starts with a backslash.
Could you please paste the real code, which causes the exception?

[2021-01-13 13:14] lparede commented on #60
@Artem-Schander ,

Thank you for your reply.

Apparently, the problem was related to the namespace of Route::group(). Some developers have defined the namespace without the initial backslash. Ex: `'namespace' => 'App\Modules\MyModule\Controllers'` instead of `'namespace' => '\App\Modules\Schedules\Controllers'`.

Now everything seems to be ok. :)

[2021-01-13 14:44] Artem-Schander commented on #60
Cool, glad it's working now :)

[2021-01-13 14:44] #60 closed

[2021-02-04 10:13] lparede opened #61 "Livewire support"
Hello, guys.

It would be great if we could have Livewire support in this package, so we could create Livewire components and views inside each module.

Is it possible?

Thank you.

[2021-02-04 11:59] Artem-Schander commented on #61
hi @lparede
I've never used Livewire. Our company strictly splits backend and frontend, so we are using Laravel as an API only.
But as far as I can see it should be possible to make use of Livewire inside modules.
What exactly is it you're struggling with?

[2021-02-04 12:14] lparede commented on #61
I was talking about having artisan commands to create the livewire components and then include then.

Instead of:
`<livewire:App\Modules\MyModule\Livewire\ComponentDoStuff::class>`

We would use:
`<livewire:MyModule::component-do-stuff>`

[2021-02-04 12:28] Artem-Schander commented on #61
I think this use case is too specific to be handled by such a general package like L5Modular.
Also you could create such a command yourself depending on the requirement of your project.

I'll let this issue open for a while and if it gets much attention, I'll consider creating an additional (kind of) Livewire-Plugin for L5Modular.

[2021-02-04 13:03] lparede commented on #61
OK, thank you.

[2021-04-30 10:50] thegr8dev opened #62 "Class L5Modular not found"
**Describe the bug**
Installed this package on clean laravel 8.12 and jsut make a new module call Faq.

After this I just go to https://l5modular.com/usage/#facade

and using first one

`L5Modular::exists('HelloWorld');`

and it give me following error

Error
Class 'L5Modular' not found
http://localhost:8000/test/

**To Reproduce**
Steps to reproduce the behavior:
1. Install new laravel and this p

[2021-04-30 10:56] Artem-Schander commented on #62
Hi @thegr8dev,
Thank you for raising this issue. I will look into it as soon as possible.

[2021-07-11 01:14] mkaddouriInet opened #63 "Translation file wrongly generated"
When creating a new module, the translation file appears in Foo/resources/lang
this is would never work please change it to:
for example:
*  resource/lang/en/en.php

[2021-07-21 02:09] Standin-Alone commented on #62
any updates?

[2021-07-22 08:09] Artem-Schander commented on #62
I'm sorry that I let you wait that long. I'm currently really busy but I think I will be able to find some time this weekend.

[2021-07-23 19:28] Artem-Schander commented on #63
Hi @mkaddouriInet,
thank you for raising this issue.
You're right. This need to be changed. I think I'll release a patch tomorrow.

[2021-07-24 04:54] Standin-Alone commented on #62
Thank you sir. You are very kind. :)

On Sat, Jul 24, 2021, 3:27 AM Artem Schander ***@***.***>
wrote:

[2021-07-27 20:52] Artem-Schander commented on #62
I have just published the [patch](https://github.com/Artem-Schander/L5Modular/releases/tag/2.1.1)
Let me know, if there is still something wrong.

[2021-07-27 20:55] Artem-Schander commented on #63
I have just published the [patch](https://github.com/Artem-Schander/L5Modular/releases/tag/2.1.1). The make commands `make:module` and `make:module:translation` should now generate the translation file in a valid folder.

[2021-07-27 20:55] #63 closed

[2021-08-03 23:43] Standin-Alone commented on #62
still not working undefined. L5modular not found

[2021-08-03 23:58] Standin-Alone commented on #62
the module that disabled still accessible

[2021-08-04 07:16] Artem-Schander commented on #62
Dis you disabled it in the config file, or by `SomeModule::disable()`?

[2021-08-04 07:22] Standin-Alone commented on #62
i put this code L5Modular::disable('Modulename');  and my module still not disable. i can still access the module

[2022-01-28 17:42] sonyon opened #64 "The manual on l5modular.com is no longer available"
The manual on l5modular.com is no longer available

The website now has a completely different content

[2022-02-26 13:00] Artem-Schander commented on #64
Hi @sonyon, thanks for the info. I didn't notice. Will be back online soon :)

[2022-05-26 06:55] ZeoNish opened #65 "Modules namespaces and routes"
How to use namespace Admin/Module_name and User/Module_name ?

folder routes not auto use ... :-(

![image](https://user-images.githubusercontent.com/8596319/170472136-913bce78-fbd0-4a6a-bc82-8695622c186b.png)

Admin/routes/web.php Work (Module auto use only this path)

Admin/Test/routes/web.php Not Work

[2022-06-04 19:00] ZeoNish commented on #65
no idea?

[2022-06-07 13:30] artem-schander commented on #65
Hi @ZeoNish :wave:
Sorry for the late reply.
The routes are not getting registered because the your modules seem to be nested. Modules need to be placed right into the `Modules` directory. There is no recursive discovery for modules.

[2022-06-07 18:04] ZeoNish commented on #65
Thx. I will think about how to get how to implement it for me.

[2022-06-08 04:15] ZeoNish commented on #65
maybe it will be possible to add a parent for the module folder through the config file of the module itself?

Thus, you can specify in which parent directory this module is located and register it from this directory.

Can you help with that?

[2022-06-08 08:09] artem-schander commented on #65
You could look into the [Change The Structure](https://l5modular.github.io/configuration/#change-the-structure) part.
But I think this is not exactly what you want.
The main problem with custom paths for different modules is the [Separate Config File In A Module](https://l5modular.github.io/configuration/#separate-config-file-in-a-module). It won't be loaded since there is not recursive discovery.